.header {
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
.header-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.header-logo {
  display: flex;
  width: 50%;
  align-items: center;
}
